:root {
    --primary-color: #FF7400;
    --secondary-color: blue;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    margin-top: 0px;
}

.page-container {
    display: grid;
    background-color: white;
    font-family: Source Sans Pro;
    grid-gap: 10px;
    grid-template-columns: 200px auto 10%;
    grid-template-rows: 100px repeat(6, auto auto) auto;
}

.name-container {
    grid-row: 1;
    grid-column: 1 / span 3;
}

.name {
    float: left;
    display: block;
    position: fixed;
    width: calc(100%);
    background-color: white;
    font-family: Source Sans Pro;
    font-weight: normal;
    text-indent: 200px;
    text-transform: capitalize;
    border-width: 0px;
    border-top: 15px solid var(--primary-color);
    border-bottom: 15px solid var(--secondary-color);
    text-align: left;
    font-size: 50px;
    padding: 0px;
    margin-bottom: 15px;
}

.section-header {
    grid-column: 2;
    grid-row: auto;
    font-size: 32px;
    text-align: left;
    text-indent: 15px;
    text-transform: uppercase;
    border-style: solid;
    border-width: 0px;
    border-top-width: 15px;
    border-bottom-width: 15px;
    border-color: var(--primary-color);
    border-bottom-color: var(--secondary-color);
}

.section-text {
    grid-column: 2;
    text-indent: 40px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 15px;
}

.navbar-container {
    grid-column: 1;
}

.navbar {
    display: block;
    position: fixed;
    float: left;
    width: 190px;
    top: 110px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    border-right-style: solid;
    text-decoration: none;
    margin-left: 10px
}

.navbar a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    padding: 22px;
}

.external-item {
    color: black;
    text-decoration: none;
    background-color: white;
}

.inactive-tab {
    color: black;
    text-decoration: none;
    background-color: white;
}

.active-tab {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    text-decoration: none;
}

.inactive-tab:hover,
.external-item:hover {
    background-color: var(--primary-color);
    padding-left: 20px;
}

.footer {
    text-align: center;
    grid-row: 14;
    grid-column: 1 / span 3;
    font-size: 20px;
    padding: 15px;
    border-style: solid;
    border-width: 0px;
    border-bottom-color: blue;
    border-bottom-width: 31px;
}
